main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0,181,204,255);
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.grid {
  display: grid;
  /* définir 7 colonnes de largeur égale à 1fr */
  grid-template-columns: repeat(7, 1fr);
  /* espace entre les éléments de la grille */
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.card {
  /* largeur de la carte sera toujours *3 plus grande que sa hauteur */
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  /* ransition fluide pour les changements d'état de la carte  */
  /* ease indique une accélération et un ralentissement progressifs  */
  transition: all 400ms ease;
  /* préserver les transformations 3D */
  transform-style: preserve-3d;
  background-color: #ccc;

}

.face {
  width: 100%;
  height: 100%;
  /* poistionner par rapport à son premier parent positionné */
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 5px solid #00b5cc;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  /* réaliser une rotation sur axe Y dr 180 degrés */
  transform: rotateY(180deg);
}

.back {
  background-image: url('../images/back.jpg');
  /* masuqer back de la carte qui est tourné */
  backface-visibility: hidden;
}

/* carte sélectionnée */
.reveal-card {
  transform: rotateY(180deg);
}

/* carte jouée */
.disabled-card {
  /* réduire l'opacité et appliquer un filtre de désaturation sur les cartes tournées */
  filter: saturate(0);
  opacity: 0.5;
}

/* modifier le nombre de colonnes de la grille à 5 lorsque la largeur de l'écran est de 920 pixels ou moins */
@media screen and (max-width:920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);

  }
}